/*

*/
.clearfix
{
    content:"";
    display:table;
    clear:both;
}/* this is clearing any overlapping issues occuring*/
.container
{
    background-color:#999999;
    width:100%;
}
.wrapper
{
    width:1200px;
    
    /*background-color:rgb(0,0,55);*/
    margin:auto; /*auto equal margin left and right*/
}
#top_div
{
    height:40px;
    line-height:40px;/* aligns data in center of division*/
}
#top_left
{
    display:inline-block;
    /* It will only take whatever space is needed
        if you dont write it will take full line space
    */
}
#top_right
{
    float:right;
}
.dark
{
    background-color:#a14cce;
    color:white;
}
.light
{
    background-color:#e9edf2;
}
#logo_left
{
    display:inline-block;
}
#logo_right
{
    float:right;
    margin-top:60px;
}
#textstyle  /* used to stylise the text box and button */
{
    height:30px;
    border-radius:80px;
}
#button
{
    background-color:purple;
    color:white;
    padding:7px;
    border-radius:8px;
    width:70px;
    border:1px solid purple;
}
ul li
{
    width:200px;
    display:inline-block;
    height:35px;
    line-height:35px;   /*to bring text in center of that division (center of line)*/
    text-align:center;
}
ul li a
{
    color:white;
    text-decoration:none;
    display:block;
}
ul li a:hover
{
    background-color:#75056c;
    color:black;
}
h2 
{
    font-size: larger;
    color: purple;
    text-align: center;
}
.text
{
    width:270px;
    text-align:justify;
    margin:3px;
    margin-top:10px;
    box-shadow:5px 5px 7px grey;
    padding:10px;
    float:left;
    height:375px;
}
#imagewrap
{
    text-align:center;
}
#imagewrap img
{
    display:inline-block;
    width:120px;
    margin:0 5px;
}
#bottom
{
    height:40px;
    line-height:40px;
}
#bot_left
{
    display:inline-block;
}
#bot_right
{
    float:right;
}